.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

/* .logo {
  float: right;
  margin: 16px 0 16px 24px;
} */

.site-layout-background {
  background: #fff;
}

/* .header {
  height: 10% !important;
} */

.centerZone {
  height: 83vh !important;
}

.loginButton {
  float: right;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.welcome-info {
  color: white;
  margin-right: 20px;
}

.login-info-and-logout-button {
  display: flex;
  align-items: center;
}